.special-date-calendar {
  width: 245px;
  height: auto;
  margin: 15px;
  padding: 0;
  display: block;
  overflow: hidden;
  border-collapse: separate;
  font-family: "Open Sans", Calibri, Arial, sans-serif;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3125);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3125);
  border-radius: 13px;
  -webkit-border-radius: 13px;
}
.special-date-calendar:after {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  visibility: hidden;
}
.special-date-calendar.calendar-static {
  margin-left: auto;
  margin-right: auto;
}
.special-date-calendar .calendar-navi {
  width: 100%;
  margin: 0;
  padding: 10px;
  display: table;
  border-spacing: 0;
  border-collapse: separate;
  background-color: #154863;
  border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
}
.special-date-calendar .calendar-navi span {
  cursor: default;
  color: #fff;
  text-align: center;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15);
  background-repeat: no-repeat;
  background-position: center center;
}

.special-date-calendar .calendar-navi span:first-child,
.special-date-calendar .calendar-navi span:last-child {
  width: 35px;
  padding: 0px 5px;
  /* font-size: 22px; */
}

.special-date-calendar .calendar-date {
  margin: 0;
  padding: 0;
  display: block;
}
.special-date-calendar .calendar-date table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  cursor: default;
}
.special-date-calendar .calendar-date table thead tr > *,
.special-date-calendar .calendar-date table tbody tr > * {
  color: #ffffff;
  width: 35px;
  height: 35px;
  padding: 0;
  font-size: 12px;
  text-align: center;
  font-weight: normal;
  line-height: 35px;
  border: 0;
  background-color: #223344;
}
.special-date-calendar .calendar-date table tbody tr > * {
  color: #334455;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  background-color: #ffffff;
}
.special-date-calendar .calendar-date table tbody tr > * > span {
  color: inherit;
  z-index: 10;
  position: relative;
}
/* Select a Day */
.special-date-calendar .calendar-date table tbody tr > *::after {
  top: 3px;
  left: 3px;
  width: 29px;
  height: 29px;
  content: "";
  display: block;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.special-date-calendar .calendar-date table tbody tr > *.today {
  color: #3296c8;
}
.special-date-calendar .calendar-date table tbody tr > *.today:after {
  border-color: #3296c8;
}

.special-date-calendar .calendar-date table tbody tr > *.empty,
.special-date-calendar .calendar-date table tbody tr > *.disable {
  color: #8899aa;
  cursor: not-allowed;
  background-color: #efefef;
}
.special-date-calendar .calendar-date table tbody tr > *.empty:hover:after,
.special-date-calendar .calendar-date table tbody tr > *.disable:hover:after {
  content: "";
  display: none;
}
.special-date-calendar .calendar-date table tbody tr > *.current span {
  color: #fff;
}
.special-date-calendar .calendar-date table tbody tr > *.current:after {
  border-color: #3296c8;
  background-color: #3296c8;
}
